{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block page_header %}
    <div class="container header-container mt-5">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                {% if user.profile.avatar.url %}
                    <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }} profile picture" class="avatar img-round">
                {% else %}
                    <img src="{% static 'images/default_pfp.jpg' %}" alt=" profile picture" class="avatar img-round">
                {% endif %}
                <a href="" class="btn btn-primary" id="ajax-edit-avatar-btn"><i class="fa fa-camera"></i></a>
            </div>
            <div class="col-md-8">
                <h1>{{ user.username }}</h1>
                <p>{{ profile.first_name }} {{ profile.last_name }}</p>
                <p>{{ user.email }}</p>
                {% if addresses %}
                    {% if default_address %}
                        {% for field in default_address %}
                            <p>{{ field.address_line_1 }}</p>
                            <p>{{ field.country.name }}</p>
                            <p>{{ field.post_code }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No default address</p>
                    {% endif %}
                {% else %}
                    <p>No addresses</p>
                {% endif %}
                <a href="{% url 'update_profile' user=request.user %}" class="btn btn-primary">Edit Profile</a>
                <a href="{% url 'add_address' %}" class="btn btn-outline-primary">Add Address</a>
            </div>
            <hr>
            <div class="wishlist">
                <h2>Wishlist</h2>
                {% if wishlist %}
                    <ul>
                        {% for item in wishlist %}
                            <li>{{ item.product.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No items in wishlist</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        $('#ajax-edit-avatar-btn').click(function(e) {
            e.preventDefault();
            let fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = 'image/*';
            fileInput.click();
            $(fileInput).change(function() {
                let file = fileInput.files[0];
                file.value = '';
                let currentUrl = $('img.avatar').attr('src');
                let editbtn = $('#ajax-edit-avatar-btn');
                $('.avatar').attr('src', URL.createObjectURL(file));
                let savebtn = $('<button id="save-avatar-btn" class="btn btn-outline-primary">Save</button>');
                $('#ajax-edit-avatar-btn').replaceWith(savebtn);
                $('#save-avatar-btn').click(function() {
                    let formData = new FormData();
                    formData.append('avatar', file);
                    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'edit_avatar' %}",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            $('.avatar').attr('src', data.url);
                            $('#save-avatar-btn').replaceWith(editbtn);
                        },
                        error: function(error) {
                            $('.avatar').attr('src', currentUrl);
                            $('#save-avatar-btn').replaceWith(editbtn);
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}