{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}Update Profile{% endblock %}

{% block page_header %}
    <div class="container header-container mt-5">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-light">
                <h2>Update Profile</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in profile_form %}
                    {{ field | as_crispy_field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-light">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
