{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Wishlist{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100 mt-5 text-white">
        <div class="row">
            {% if products %}
                {% for product in products %}
                    <div class="card border-0 m-2 text-dark">
                    {% if product.images.all %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.get_main_image }}" class="card-img-top" alt="{{ product.image.alt_text }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{% static 'images/placeholder.jpg' %}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                        <div class="card-body row text-dark">
                            <h5 class="card-title col-9">{{ product.name }}</h5>
                            <button class="col-3 add-to-wishlist btn" data-id="{{ product.id }}">
                                {% if product in wishlist.user.profile.wishlist %}
                                    <i class="fa fa-heart"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </button>
                            <p class="card-text col-12">{{ product.description| truncatewords:10 }}</p>
                        </div>
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                {% if product.tags %}
                                    <div class="row">
                                    {% for tag in product.tags.all %}
                                        <p class="small mt-1 mb-0 col">
                                            <a href="{% url 'products' %}?tag={{ tag.name }}" class="text-muted">
                                                <i class="fa fa-tag mr-1"></i>
                                                <span class="small">{{ tag.friendly_name }}</span>
                                            </a>
                                        </p>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <div class="row d-flex h-100 align-items-center justify-content-center">
                    <h3 class="col-12">No products in Wishlist.</h3><br><br>
                    <div class="col-12">
                        <p>Why not check out some products</p>
                        <a href="{% url 'products' %}" class="btn btn-outline-light">Continue Shopping</a>
                    </div>
                </div>
                
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script>
        $(document).ready(function() {
        console.log('ready');
            $('.add-to-wishlist').each(function (){
                $(this).on('click', function(e) {
                    let productId = $(this).data('id');
                    e.stopPropagation();
                    e.preventDefault();
                    $(this).parent().append('<div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>');
                    $.ajax({
                        type: 'POST',
                        url: '{% url "add_remove_wishlist" %}',
                        data: {
                            'product_id': productId,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.product_in_wishlist == false) {
                                $(this).html('<i class="fa-regular fa-heart"></i>');
                            } else {
                                $(this).html('<i class="fa fa-heart"></i>');
                            }

                            $(this).parent().find('.spinner-border').remove();
                            setTimeout(function() {
                                location.reload();
                            }, 1000);
                        },
                        error: function (data) {
                            console.log('error');
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}

