html {
    height: 100%;
}

body {
    background: url('/static/images/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

footer {
    color: #555;
    text-align: center;
    height: fit-content;
}

.card{
    margin-top: 25px;
    min-width: 400px;
}