{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://kit.fontawesome.com/e7df50eaa1.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <!--Stripe-->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Dungeon Dwellers | {% block extra_title %}{% endblock %}</title>
  </head>
  
  <body>
    <header class="container-fluid fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark text-white">
        <a class="navbar-brand" href="{% url 'home' %}">DUNGEON DWELLERS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' user=request.user %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            {% endif %}
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
          </ul>
          <form class="search-bar w-100">
            {% csrf_token %}
            <input type="text" name="search-input" placeholder="Search..." class="w-50">
            <button type="submit" class="btn btn-outline-light"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </nav>
    </header>
  {% block page_header %}
  {% endblock %}
    <main>
      <div class="row mt-5 d-flex"></div>
      {% block content %}
      {% endblock %}
    </main>
    
  </body>
  {% block postloadjs %}
  {% endblock %}
</html>